[submodule "Seção 16/projeto"]
	path = Seção 16/projeto
	url = https://github.com/joaopedromf/chess-system-java
[submodule "Seção 21/demo-dao-jdbc"]
	path = Seção 21/demo-dao-jdbc
	url = https://github.com/joaopedromf/demo-dao-jdbc
[submodule "Seção 23/workshop-springboot3-jpa"]
	path = Seção 23/workshop-springboot3-jpa
	url = https://github.com/joaopedromf/workshop-springboot3-jpa
[submodule "Seção 24/workshopmongo"]
	path = Seção 24/workshopmongo
	url = https://github.com/joaopedromf/workshop-spring-boot-mongodb
